.secret
data
modules/twitter-scraping/twitter_scraping.egg-info
modules/twitter-scraping/twitter_scraping/__pycache__
notebooks/.ipynb_checkpoints
logs
app/__pycache__
modules/growth-targeting/app_components/__pycache__
modules/growth-targeting/growth_targeting.egg-info
modules/growth-targeting/twitter_scraping/__pycache__
modules/alexandria-babylon